<!DOCTYPE html>
<h1>All Movies</h1>
  <button type="button" class="btn btn-primary btn-sm"><a href="/movies/new">Add Movie</a></button>
  <table class="table table-striped">
    <tr>
      <th>Title</th>
      <th>Director</th>
      <th>Date</th>
      <th>Rating</th>
      <th>Poster</th>
      <th></th>
      <th></th>

    </tr>
    {{#each allMovies}}
    <tr>
    <td><a href="/movie/{{this.id}}">{{this.title}}</a></td>
    <td>{{this.director}}</td>
    <td>{{this.year}}</td>
    <td>{{this.my_rating}}</td>
    <td><img src="{{this.poster_url}}" alt=""></td>
    <form action="/movie/{{ this.id }}?_method=DELETE" method="POST">
    <td><input type="submit" name="delete" class="btn btn-primary btn-sm" value="Delete"></td>
    <!-- <td><button type="button" class="btn btn-primary btn-sm">Edit</button></td> -->
  </form>
  </tr>
    {{/each}}
</table>
